{% extends 'master.html' %}
    {% block content %}
    <section class="page1"> 
    
        <div class="form">
        <p>Add Medicine</p>
        <form action="" method="POST">
        {% csrf_token %}
    <input type="text" name="medicine_name" placeholder="Name of Medicine">
    <input type="text" name="medicine_quantity" placeholder="Quantity">
    <input type="text" name="medicine_price" placeholder="Price">
    <button>Add</button>
    
    
        </form>
        {{msg}}
    </section> 
{% endblock %}